/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;600;700;800&display=swap');

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}
.image{
    width: 100%;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.top{
    width: 100%;
}
.bottom{
    width: 100%;
}

/* color classes */
/* text-color */
.dark {
    color: rgba(34, 34, 34, 1);
}

.ash {
    color: rgb(135, 135, 135, 1);
}

.paragraph {
    color: #2D334A;
}

.headline {
    color: rgba(39, 35, 67, 1);
}

/* background-color */
.bg-dark {
    background-color: rgba(21, 21, 20, 1);
}

.bg-skin {
    background-color: rgba(250, 194, 162, 1);
}

.bg-blue {
    background-color: rgba(26, 104, 255, 1);
}

.background {
    background-color: #FFFFFE;
}

.secondary {
    background-color: #E3F6F5;
}

.tertiary {
    background-color: #BAE8E8;
}

.bg-light-ash {
    background-color: rgb(135, 135, 135, 1);
}

.bg-light-purple {
    background-color: #FAEEFF;
}

.bg-light-ash {
    background-color: #EDEDED;
}

.bg-rosegold {
    background-color: #FFDDDC;
}

.bg-yellow {
    background-color: rgba(255, 216, 3, 1);
}

/* font-weight */
.font-weight-bolder {
    font-weight: 700;
}

.font-weight-bold {
    font-weight: 600;
}

.font-weight-light {
    font-weight: 400;
}

.font-weight-lighter {
    font-weight: 200;
}

/* font sizes */
.font-size-larger {
    font-size: 36px;
}

.font-size-large {
    font-size: 30px;
}

.font-size-medium {
    font-size: 24px;
}

.font-size-small {
    font-size: 16px;
}

.font-size-smaller {
    font-size: 14px;
}

.font-size-extra-small {
    font-size: 10px;
}

/* color classes */

/* buttons */
.button {
    text-decoration: none;
    color: #272343;
    padding: 16px 32px;
    width: 157px;
    background: #FFD803;
    border-radius: 28px;
    font-weight: 700;
    font-size: 14px;
}

/* header_section */
/* section_1_top_bar */
header .top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    padding: 12px 0;
}

header .top-bar .top-left .phone-mail {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

header .top-bar .top-left .phone-mail .phone::before {
    content: '';
    background: url(../images/Call.png) no-repeat;
    background-size: 18px;
    padding: 1px 0;
    padding-right: 22px;
    background-position: left center;
}

header .top-bar .top-left .phone-mail .mail:before {
    content: '';
    background: url(../images/Message.png) no-repeat;
    background-size: 18px;
    padding-right: 22px;
    background-position: left center;
}

header .top-bar .top-right .usd::after {
    content: '';
    background: url(../images/Dropdown\ Icon.png) no-repeat;
    padding-left: 15px;
    background-size: 10px;
    background-position: right center;
}

/* section_1_top_bar */


/* section_2_nav_bar */
header nav .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/* Website-logo is 4x sized exported from figma */
header nav .navigation .Website-logo {
    width: 119px;
}

header nav .navigation .Website-logo img {
    width: 100%;
}

header nav .navigation .nav-contents {
    display: flex;
    flex-wrap: wrap;
}

header nav .navigation .nav-contents .nav-item {
    padding: 20px 0;
}

header nav .navigation .nav-options a {
    font-size: 14px;
    color: #272343;
    font-weight: 600;
    padding: 25px 0;
}

header nav .navigation .nav-options .mega-menu-content a {
    padding: 0;
    line-height: 30px;
}

header nav .navigation .nav-options ul {
    gap: 32px;
}

header nav .navigation ul li img {
    width: 24px;
}

header nav .navigation .icons ul {
    gap: 15px;
}

/* mega_menu_dropdown  */
header nav .container {
    position: relative;
}

header nav .navigation .nav-options li:hover .items {
    color: rgba(255, 216, 3, 1);
}

header nav .navigation .nav-options .mega-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
    padding: 32px;
    padding-bottom: 50px;
    white-space: nowrap;
    gap: 50px;
    flex-wrap: wrap;
    transition: .2s;
    z-index: 2;
}


header nav .navigation .nav-options li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

header nav .navigation .mega-menu .mega-menu-content h4 {
    font-weight: 600;
    margin: 0;
    padding-bottom: 12px;
}

header nav .navigation .nav-options .mega-menu .mega-menu-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding-right: 50px; */

}

header nav .navigation .nav-options .mega-menu .mega-menu-content a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
}

/* header nav .navigation .nav-options .mega-menu .mega-menu-content a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
} */

/* mega_menu_dropdown  */
/* section_2_nav_bar */
/* header_section */


/* main_section */


/* main_section */

main .product {
    display: flex;
    padding-top: 30px;
    gap: 20px;
}

main .product .product-details {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
}

main .product .product-details .description {
    display: flex;
    flex-direction: column;
}

main .product .product-details .description .stars {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

main .product .product-details .description .stars img {
    width: 16px;
    height: 16px;
}

main .product .product-details .description .details{
    padding-top: 15px;
}

main .product .product-details .description .phone-model {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .product .product-details .color-choice {
    display: flex;
    gap: 16px;
    align-items: center;
}

main .product .product-details .color-choice p {
    font-weight: 400;
    font-size: 24px;
}

main .product .product-details .color-choice .color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

main .product .product-details .cart {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

main .product .product-details .cart button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* align-self: center; */
    cursor: pointer;
}

main .product .product-details .cart .product-count {
    display: flex;
    padding: 12px;
    border: 1px solid #2D334A;
    border-radius: 28px;
    /* width: 145px; */
    flex: 2;
    justify-content: space-between;
    height: 19.28%;

}

main .product .product-details .cart .product-count p {
    margin: 0;
    align-self: center;
}

main .product .product-details .cart .product-add-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    flex: 5;
}

main .product .product-details .cart .product-add-buttons button {
    padding: 16px 120px;
    border-radius: 28px;
    width: 100%;
}

main .product .product-details .cart .product-add-buttons .addd-to-wishlist-button {
    border: 1px solid #2D334A;
}


main .product .product-details .facilities {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(227, 246, 245, 1);
    border-bottom: 1px solid rgba(227, 246, 245, 1);
    margin: 0;
}

main .product .product-details .facilities .facilitie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main .product .product-details .facilities img {
    width: 24px;
    align-self: center;
}

main .product .product-details .facilities h1 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

main .product .product-details .facilities p {
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}



main .feature{
    padding-top: 100px;
}

main .feature .selection{
    padding-top: 20px;
    margin: auto;
    max-width: 550px;
    padding-bottom: 40px;
}

main .feature .selection ul {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
}

main .feature .selection ul a {
    padding: 8px 20px;
}

main .feature .selection ul a:hover {
    color: #FFFFFE;
    background-color: rgba(39, 35, 67, 1);
    border-radius: 20px;
}

main .feature .display{
    display: flex;
    flex-direction: column;
    text-align: center;
}
main .feature .display p{
    margin: 0;
}
main .feature .display .display-image{
    padding-top: 50px;
}


main .about-color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
}

main .about-camera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
}

main .about-ois{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-top: 80px;
}


/* footer section */
/* section_9_contact */

footer {
    padding-top: 150px;
}

footer .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contents h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 30px;
}

footer .contents .content .contact {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

footer .contents .content ul li a,
.secured {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

footer .contents .content .secured {
    margin-top: 0;
}

footer .contents .content .footer-icon {
    margin: 0;
    padding-top: 0;
}

footer .footer-section {
    background-color: rgba(249, 249, 249, 1);
    padding: 48px 0;
}

/* section_9_contact */

/* section_10_copyright */
footer .copyright {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

footer .copyright .left-side p {
    margin: 0;
}

footer .copyright .right-side ul {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 20px;
}

/* section_10_copyright */
/* footer section */

/* responsive */
@media only screen and (max-width:600px) {

    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    header .top-bar {
        display: none;
    }

    header nav .navigation {
        flex-direction: column;
    }

    header nav .navigation .nav-options .nav-contents {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    header nav .navigation .nav-options {
        flex-direction: column;
    }

    

    main .product{
        flex-direction: column;
    }
    main .product .product-samples{
        display: flex;
        justify-content: center;
    }
    main .product .product-details .cart{
        flex-direction: column;
    }

    main .product .product-details .cart .product-count{
        width: 50%;
        align-self: center;
    }

    main .facilities {
        flex-direction: column;
    }

    main .facilities .facilitie {
        padding: 10px 0;
    }

    main .about-camera, .about-color{
        flex-direction: column;
        text-align: center;
    }

    

    footer .contents {
        flex-direction: column;
        gap: 0;
        row-gap: 60px;
        text-align: center;
        /* justify-content: center; */
    }

    footer .contents h4 {
        padding-bottom: 10px;
    }

    footer .copyright {
        flex-direction: column;
    }

    footer .copyright .right-side {
        padding-top: 10px;
    }

}


  @media only screen and (max-width:450px){
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
  }

  @media only screen and (min-width:451px) and (max-width:1180px){

    .container{
        width: 98%;
    }
    main .product{
        flex-direction: column;
    }
    main .product .product-samples{
        display: flex;
        justify-content: center;
    }
    main .product .product-details .cart{
        flex-direction: column;
        width: 80%;
        align-self: center;
    }
    main .main-image{
        width: 50%;
        align-self: center;
    }

  }
